<div>
  <form class="login-form" [formGroup]="loginForm">
    <mat-form-field class="field">
      <input matInput placeholder="Email" formControlName="email" [(ngModel)]="login.email">
      <mat-error *ngIf="loginForm.get('email').hasError('pattern')">
        Ошибка в email
      </mat-error>
      <mat-error *ngIf="loginForm.get('email').hasError('required')">
        <strong>Введите email</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput type="password" placeholder="Пароль" formControlName="password" [(ngModel)]="login.password">
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        <strong>Введите пароль</strong>
      </mat-error>
    </mat-form-field>
    <div class="on-server-error g-warn-color" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="spacer"></div>
    <button mat-raised-button (click)="onLogin()" [disabled]="!loginForm.valid">Логин</button>
  </form>
</div>
