<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Редактирование {{data.subject._id}}</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon (click)="onCloseClick()">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form  fxFlex fxLayout="column" fxFlexFill [formGroup]="editForm"  class="edit-form">
    <mat-form-field>
      <mat-select placeholder="White Label" formControlName="selectedWhiteLabel">
        <mat-option [value]="''">Доступен для всех</mat-option>
        <mat-option *ngFor="let wl of whiteLabels" [value]="wl._id">{{wl._id}}({{wl.ip}})</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" color="primary" [disabled]="!editForm.valid">Сохранить</button>
  <button mat-button (click)="onCloseClick()" color="warn">Отмена</button>
</div>
