<mat-toolbar color="primary">
	<mat-toolbar-row>
		<span>Добавить новый вайт-лейбл</span>
		<span class="spacer"></span>
		<button mat-icon-button>
			<mat-icon (click)="onCloseClick()">close</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
	<form  fxFlex fxLayout="column" fxFlexFill [formGroup]="createForm"  class="create-form">
		<mat-form-field class="field">
			<input matInput type="text" placeholder="Хост*" formControlName="host" [(ngModel)]="data.host">
			<mat-error *ngIf="createForm.get('host').hasError('required')">
				<strong>Введите хост</strong>
			</mat-error>
		</mat-form-field>
		<mat-form-field class="field">
			<input matInput type="text" placeholder="IP*" formControlName="ip" [(ngModel)]="data.ip">
			<mat-error *ngIf="createForm.get('ip').hasError('required')">
				<strong>Введите IP</strong>
			</mat-error>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions>
	<button mat-button [mat-dialog-close]="data" color="primary" [disabled]="!createForm.valid">Добавить</button>
	<button mat-button (click)="onCloseClick()" color="warn">Отмена</button>
</div>
