<top-bar *ngIf="templates" fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px" (onFilterChange)="filterCollection($event)"></top-bar>

<div class="list-wrapper" fxFlex fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <mat-spinner *ngIf="!templates"></mat-spinner>

  <templates-list fxFlex [templates]="templates" *ngIf="templates"></templates-list>

  <mat-paginator *ngIf="templates" [length]="total"
                 [pageIndex]="pageIndex"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="paginate($event)">
  </mat-paginator>
</div>

