<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Редактировать пользователя</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon (click)="onCloseClick()">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form fxFlex fxLayout="column" fxFlexFill [formGroup]="editForm" class="create-form">
    <mat-form-field class="field">
      <input matInput placeholder="Email*" [formControlName]="'email'">
      <mat-error *ngIf="editForm.get('email').hasError('pattern')">
        Ошибка в email
      </mat-error>
      <mat-error *ngIf="editForm.get('email').hasError('required')">
        <strong>Введите email</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput placeholder="Пароль*" [formControlName]="'password'" >
      <mat-error *ngIf="editForm.get('password').hasError('required')">
        <strong>Введите пароль</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <mat-select placeholder="Роль*" [formControlName]="'role'"  >
        <mat-option *ngFor="let role of data.rolesList$ | async" [value]="role.value">{{role.name}}</mat-option>
      </mat-select>
      <mat-error *ngIf="editForm.get('role').hasError('required')">
        <strong>Выбирите роль</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput type="text" placeholder="Имя*" [formControlName]="'firstName'" >
      <mat-error *ngIf="editForm.get('firstName').hasError('required')">
        <strong>Введите имя</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput type="text" placeholder="Фамилия*" [formControlName]="'lastName'" >
      <mat-error *ngIf="editForm.get('lastName').hasError('required')">
        <strong>Введите фамилию</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="field">
      <input matInput type="text" placeholder="Телефон*" [formControlName]="'phone'" >
      <mat-error *ngIf="editForm.get('phone').hasError('required')">
        <strong>Введите номер телефона</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button [mat-dialog-close]="data" color="primary" [disabled]="!editForm.valid">Добавить</button>
  <button mat-button (click)="onCloseClick()" color="warn">Отмена</button>
</div>
