
<mat-table [dataSource]="createDataSource(whiteLabels)">


	<ng-container matColumnDef="_id">
		<mat-header-cell *matHeaderCellDef> Host ID </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row._id}}</mat-cell>
	</ng-container>


	<ng-container matColumnDef="ip">
		<mat-header-cell *matHeaderCellDef> Host IP </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row.ip}} </mat-cell>
	</ng-container>


	<ng-container matColumnDef="controls">
		<mat-header-cell *matHeaderCellDef> Действия </mat-header-cell>
		<mat-cell *matCellDef="let row" fxLayoutGap="8px">
			<button mat-mini-fab color="primary" (click)="editWL(row)">
				<mat-icon>mode_edit</mat-icon>
			</button>
			<button mat-mini-fab color="warn" (click)="removeWL(row)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;">
	</mat-row>
</mat-table>
<div *ngIf="whiteLabels && !whiteLabels.length"> Лейблов удовлетворяющим критерям поиска нет </div>

