<div class="top-bar mat-elevation-z6" fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
  <div class="sorts">
    <label for="sort-select">Сортировать по:</label>
    <mat-form-field>
      <mat-select id="sort-select" name="sortCategory" [(ngModel)]="filters.sortBy" [formControl]="sortControl">
        <mat-option *ngFor="let option of sortOptions" [value]="option.value">{{option.label}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="categories">
    <label for="category-select">Категория:</label>
    <mat-form-field>
      <mat-select id="category-select" name="selectedCategory" [(ngModel)]="filters.selectedCategory" [formControl]="categoryControl">
        <mat-option [value]="''">Все</mat-option>
        <mat-option *ngFor="let subject of subjects$ | async" [value]="subject._id">{{subject.title}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="search-bar">
    <label for="search-query">Поиск:</label>
    <mat-form-field>
      <input id="search-query" matInput type="text"  name="searchStr" [(ngModel)]="filters.searchStr" [formControl]="searchControl"/>
      <button mat-button *ngIf="filters.searchStr" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
