<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ getHeaderName() }}</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon (click)="onCloseClick()">close</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form  fxFlex fxLayout="column" fxFlexFill [formGroup]="cloneCreateForm" class="clone-form">
    <mat-form-field>
      <input matInput placeholder="Имя шаблона-клона" formControlName="cloneName" >
      <mat-error *ngIf="cloneCreateForm.get('cloneName').hasError('required')">
        <strong>Введите имя шаблона</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Исполнитель" formControlName="author"  >
        <mat-option *ngFor="let user of users" [value]="user.email">{{user.email}}{{user.username ? '(' + user.username + ')' : ''}}</mat-option>
      </mat-select>
      <mat-error *ngIf="cloneCreateForm.get('author').hasError('required')">
        <strong>Выбирите исполнителя</strong>
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button color="primary" [mat-dialog-close]="data" [disabled]="!cloneCreateForm.valid">Создать</button>
  <button mat-button (click)="onCloseClick()" color="warn">Отмена</button>
</div>
