/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/theming';
@import '../app/core/components/navbar/navbar-theme';
@import '../app/templates/containers/templates-theme';
@import '../app/subjects/containers/subjects-theme';
@import '../app/users/containers/users-theme';
@import '../app/white-labels/containers/white-labels-theme';
@import '../app/i18n-scheme/containers/i18n-scheme-theme';

$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-amber, $default, $lighter, $darker);
//$primary: mat-palette($mat-pink);
//$accent:  mat-palette($mat-indigo, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);
@include nav-bar-theme($theme);
@include templates-theme($theme);
@include subjects-theme($theme);
@include users-theme($theme);
@include white-labels-theme($theme);
@include i18n-scheme-theme($theme);

$_primary: map-get($theme, primary);
$_accent: map-get($theme, accent);
$_warn: map-get($theme, warn);

body {
	font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
		Lucida Grande, sans-serif;
	margin: 0;
	background-color: mat-color($primary, 50);
}

.sep-line {
	border: 1px solid mat-color($accent);
	margin: 16px 0;
}

.g-primary-color {
	color: mat-color($_primary);
}

.g-accent-color {
	color: mat-color($_accent);
}

.g-warn-color {
	color: mat-color($_warn);
}
