app {
	position: absolute;
	top: 56px;
	bottom: 0;
	left: 0;
	right: 0;
}

app-navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 4;
}

app > app-component-sidenav {
	flex: 1;
}

main {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	i18n-scheme-page,
	templates-page,
	subjects-page {
		flex: 1;
		width: 100%;
	}

}
