<div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px" fxFlexFill>
   <div class="template-card" *ngFor="let template of templates" >
     <div class="main" fxLayout="row">
       <div class="line" fxFlex fxFlexFill fxLayoutGap="8px">
         <div fxFlex="50%">
           <a href="#" class="name">{{ template.title }}</a>
         </div>
         <div fxFlex="50%">
           <div class="subjects">
             <span *ngFor="let subject of template.subjectIds; let isLast=last">
              {{subject}}{{isLast ? '' : ', '}}
             </span>
           </div>
         </div>
         <div fxFlex="340px" class="controls">
           <button mat-raised-button color="primary">
             Конструктор
           </button>
           <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">
             Demo
           </button>
           <mat-menu #menu="matMenu">
             <button mat-menu-item>
               <span>На 14</span>
             </button>
             <button mat-menu-item>
               <span>На 23</span>
             </button>
           </mat-menu>

           <mat-checkbox>Gulp</mat-checkbox>

           <button mat-icon-button>
             <mat-icon >settings</mat-icon>
           </button>

         </div>
       </div>
       <div class="type" [ngClass]="getTemplateType(template)" fxFlex="12px"></div>
     </div>
     <div class="extra" fxLayout="row">
         <div class="line" fxFlex fxFlexFill fxLayoutGap="8px">

           <div fxFlex fxFlexFill>
             <div class="header">Создан</div>
             <div>{{ template.dateCreate | myMomentDate}}</div>
             <div>{{ template.author.email }}</div>
           </div>
           <div fxFlex fxFlexFill>
             <div class="header">Изменен в конструкторе</div>
             <div>{{ template.editHistory[0].time | myMomentDate }}</div>
             <div>{{ template.editHistory[0].user }}</div>
           </div>
           <div fxFlex fxFlexFill>
             <div class="header">Изменен в gulp</div>
             <div>{{ template.editHistory[0].time | myMomentDate }}</div>
             <div>{{ template.editHistory[0].user }}</div>
           </div>
           <div fxFlex fxFlexFill fxLayoutAlign="end start" class="langs" fxLayout="row wrap">
              <a href="#" *ngFor="let lang of getTempalteLangs(template)">{{ lang }}</a>
           </div>
         </div>
       <div class="type" fxFlex="12px"></div>
     </div>
   </div>
</div>
