<div class="template-card">
  <div class="top" fxLayout="row">
    <div class="main-part" fxFlex fxFlexFill fxLayoutWrap>
      <div class="line" fxFlex="noshrink" fxFlexFill fxLayoutGap="8px" >
        <div fxFlex="40%">
          <a href="#" class="name">{{ template._id }}</a>
        </div>
        <div fxFlex="60%">
          <div class="subjects">
             <span *ngFor="let subject of translateSubjects(template.subjectIds); let isLast=last" (click)="filterByCategory(subject._id)">
              {{subject.title}}{{isLast ? '' : ', '}}
             </span>
          </div>
          <color-themes [colorThemes]="template.colorThemes"></color-themes>
        </div>
        <div fxFlex="365px" class="controls">
          <button mat-raised-button color="primary">
            Конструктор
          </button>
          <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">
            Demo
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="makeDemo('normal')">
              <span>На 14</span>
            </button>
            <button mat-menu-item (click)="makeDemo('compile')">
              <span>На 23</span>
            </button>
          </mat-menu>
          <mat-slide-toggle [checked]="template.gulpStatus === 'online'" (change)="changeGulpStatus($event)">Gulp</mat-slide-toggle>
          <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
            <mat-icon >menu</mat-icon>
          </button>
          <mat-menu #settingsMenu="matMenu">
            <button mat-menu-item  (click)="changeProps()">
              <mat-icon>settings</mat-icon>
              <span>Change props</span>
            </button>
            <button mat-menu-item *ngIf="(isParent() && isPermitted())" (click)="createClone()">
              <mat-icon>library_books</mat-icon>
              <span>Create a clone</span>
            </button>
            <button mat-menu-item *ngIf="(isParent() && isPermitted())" (click)="createClone(true)">
              <mat-icon>library_books</mat-icon>
              <span>Create a pageless clone</span>
            </button>
            <button mat-menu-item *ngIf="(isParent() && isPermitted())" (click)="compileAllClones()">
              <mat-icon>library_books</mat-icon>
              <span>Compile clones</span>
            </button>
            <button mat-menu-item *ngIf="(isParent() && isPermitted())" (click)="refreshCloneSettings()">
              <mat-icon>autorenew</mat-icon>
              <span>SettingsClone.json</span>
            </button>
            <button mat-menu-item *ngIf="(isPermitted())" (click)="refreshSettings()">
              <mat-icon>autorenew</mat-icon>
              <span>Settings.json</span>
            </button>
            <button mat-menu-item (click)="deleteTemplate()">
              <mat-icon>delete</mat-icon>
              <span>Удалить</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="line" fxFlex="noshrink" fxFlexFill fxLayoutGap="8px" >
        <div class="info-col" fxFlex *ngIf="template.sourceTemplate !== 'none'">
          <div class="header">Оригинал</div>
          <div>
            <span class="inline-button" (click)="filterByName(template.sourceTemplate)">{{template.sourceTemplate}}</span>
          </div>
        </div>
        <div class="status" fxFlex *ngIf="template.status === 'complete'">
          <mat-icon aria-hidden="true">done</mat-icon>
          <span>Опубликован</span>
        </div>
        <div class="info-col" fxFlex *ngIf="template.cloneNames.length">
          <div class="header">Клоны</div>
          <div class="clones" fxLayout="row wrap">
            <a *ngFor="let cloneName of template.cloneNames" (click)="filterByName(cloneName)">{{ cloneName }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="type" [ngClass]="getTemplateType()" fxFlex="12px"></div>
  </div>
  <div class="bottom" fxLayout="row">
    <div class="main-part" fxFlex fxFlexFill fxLayoutWrap>
      <div class="line" fxFlex="noshrink" fxFlexFill fxLayoutGap="8px">

        <div class="info-col" fxFlex fxFlexFill>
          <div class="header">Создан</div>
          <div>{{ template.dateCreate | myMomentDate}}</div>
          <div>{{ template.author.email }}</div>
        </div>
        <div class="info-col" fxFlex fxFlexFill>
          <div class="header">Изменен в конструкторе</div>
          <div>{{ template.editHistory.length ? template.editHistory[0].time : '' | myMomentDate }}</div>
          <div>{{ template.editHistory.length ? template.editHistory[0].user : ''}}</div>
        </div>
        <div class="info-col" fxFlex fxFlexFill>
          <div class="header">Изменен в gulp</div>
          <div>{{ template.editHistory.length ? template.editHistory[0].time : '' | myMomentDate }}</div>
          <div>{{ template.editHistory.length ? template.editHistory[0].user : ''}}</div>
        </div>
        <div class="info-col" fxFlex fxFlexFill >
          <div class="header">Локали</div>
          <div fxLayoutAlign="start start" class="langs" fxLayout="row wrap">
            <a href="#" *ngFor="let lang of getTempalateLangs()">{{ lang }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="type" fxFlex="12px"></div>
  </div>
</div>
