<div class="template-card">
  <div class="top" fxLayout="row">
    <div class="main-part" fxFlex fxFlexFill fxLayout="column" fxLayoutGap="8px">
      <div class="line" fxFlex="noshrink" fxFlexFill fxLayout="row" fxLayoutGap="8px" >
        <div fxFlex="20%">
          <a href="#" class="name">{{ template._id }}</a>
        </div>
        <div fxFlex="20%">
          <div class="subjects">
             <span *ngFor="let subject of translateSubjects() | async; let isLast=last" (click)="filterByCategory(subject._id)">
              {{subject.title}}{{isLast ? '' : ', '}}
             </span>
          </div>
          <color-themes [colorThemes]="template.colorThemes"></color-themes>
        </div>
        <div fxFlex="60%" class="controls" fxLayout="row" fxLayoutAlign="end center">
          <button mat-raised-button color="primary" [matMenuTriggerFor]="constructorMenu">
            Конструктор
          </button>
					<mat-menu #constructorMenu="matMenu">
						<a [href]="getConstructorUrl(lang)" mat-menu-item *ngFor="let lang of getTemplateLangs()" target="_blank"><span>{{ lang }}</span></a>
					</mat-menu>
          <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">
            Demo
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let demoHost of demoHosts$ | async" (click)="makeDemo(demoHost.host)">
              <span>{{ demoHost.label }}</span>
            </button>
          </mat-menu>
          <button mat-raised-button color="accent" [matMenuTriggerFor]="publishMenu">
            Выкатка
          </button>
          <mat-menu #publishMenu="matMenu">
            <button mat-menu-item *ngFor="let pubHost of pubHosts$ | async" (click)="publish(pubHost.host)">
              <span>{{ pubHost.label }}</span>
            </button>
          </mat-menu>
          <mat-slide-toggle [checked]="template.gulpStatus === 'online'" (change)="changeGulpStatus($event)">Gulp</mat-slide-toggle>
          <button mat-icon-button [matMenuTriggerFor]="settingsMenu" class="settings-menu">
            <mat-icon >menu</mat-icon>
          </button>
          <mat-menu #settingsMenu="matMenu">
            <button mat-menu-item  (click)="changeProps()">
              <mat-icon>settings</mat-icon>
              <span>Change props</span>
            </button>
						<button mat-menu-item *ngIf="(isPermitted())" (click)="workWithI18n()">
							<mat-icon>language</mat-icon>
							<span>i18n</span>
						</button>
            <button mat-menu-item *ngIf="(isParent() && isPermitted())" (click)="createClone()">
              <mat-icon>library_books</mat-icon>
              <span>Create a clone</span>
            </button>
            <button mat-menu-item *ngIf="(isParent() && isPermitted())" (click)="createClone(true)">
              <mat-icon>library_books</mat-icon>
              <span>Create a pageless clone</span>
            </button>
            <button mat-menu-item *ngIf="(isParent() && isPermitted())" (click)="compileAllClones()">
              <mat-icon>library_books</mat-icon>
              <span>Compile clones</span>
            </button>
            <button mat-menu-item *ngIf="(isParent() && isPermitted())" (click)="refreshCloneSettings()">
              <mat-icon>autorenew</mat-icon>
              <span>SettingsClone.json</span>
            </button>
            <button mat-menu-item *ngIf="(isPermitted())" (click)="refreshSettings()">
              <mat-icon>autorenew</mat-icon>
              <span>Settings.json</span>
            </button>
            <button mat-menu-item *ngIf="(isPermitted())" (click)="commit()">
              <mat-icon>fast_forward</mat-icon>
              <span>Commit</span>
            </button>
            <button mat-menu-item (click)="deleteTemplate()">
              <mat-icon>delete</mat-icon>
              <span>Удалить</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <div class="line" fxFlex="noshrink" fxFlexFill fxLayout="row" fxLayoutGap="8px" >
        <div class="status" fxFlex *ngIf="template.status === 'complete'">
          <mat-icon aria-hidden="true">done</mat-icon>
          <span>Опубликован</span>
        </div>
        <div class="status not-ready" fxFlex *ngIf="template.status !== 'complete'">
          <mat-icon aria-hidden="true">close</mat-icon>
          <span>Не опубликован</span>
        </div>
        <div class="info-col" fxFlex *ngIf="template.sourceTemplate !== 'none'">
          <div class="header">Оригинал</div>
          <div>
            <span class="inline-button" (click)="filterByName(template.sourceTemplate + '|' + template._id)">{{template.sourceTemplate}}</span>
          </div>
        </div>
        <div class="info-col" fxFlex *ngIf="template.cloneNames.length">
          <div class="header">Клоны</div>
          <div class="clones" fxLayout="row wrap">
            <a *ngFor="let cloneName of template.cloneNames" (click)="filterByName(template._id + '|' + cloneName)">{{ cloneName }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="type" [ngClass]="getTemplateType()" fxFlex="12px"></div>
  </div>
  <div class="bottom" fxLayout="row">
    <div class="main-part" fxFlex fxFlexFill fxLayout="column" fxLayoutGap="8px">
      <div class="line" fxFlex="noshrink" fxFlexFill fxLayout="row" fxLayoutGap="8px">
        <div class="info-col" fxFlex fxFlexFill>
          <div class="header">Создан</div>
          <div>{{ template.dateCreate | myMomentDate}}</div>
          <div>{{ template.author ? template.author.email : 'Нет автора' }}</div>
        </div>
        <div class="info-col" fxFlex fxFlexFill>
          <div class="header">Изменен в конструкторе</div>
          <div>{{ template.editHistory.length ? (template.editHistory[0].time | myMomentDate) : ''}}</div>
          <div>{{ template.editHistory.length ? template.editHistory[0].user : ''}}</div>
        </div>
        <div class="info-col" fxFlex fxFlexFill>
          <div class="header">Изменен в gulp</div>
          <div>{{ template.lessEditHistory.length ? (template.lessEditHistory[0].time | myMomentDate) : ''  }}</div>
          <div>{{ template.lessEditHistory.length ? template.lessEditHistory[0].user : ''}}</div>
        </div>
        <div class="info-col" fxFlex fxFlexFill >
          <div class="header">Локали</div>
          <div fxLayoutAlign="start start" class="langs" fxLayout="row wrap">
            <a [href]="getTemplatePreviewUrl(lang)" *ngFor="let lang of getTemplateLangs()" target="_blank">{{ lang }}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="type" fxFlex="12px"></div>
  </div>
</div>
