@mixin white-labels-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$warn: map-get($theme, warn);
	$background: map-get($theme, background);
	$foreground: map-get($theme, foreground);
	white-labels-page {
		wl-top-bar {
			background-color: mat-color($primary, 50);
		}

		wl-list {
			width: 960px;
		}
	}
}
