templates-list {
	position: relative;
	z-index: 2;
	margin-bottom: 16px;
}

top-bar {
	position: fixed;
	top: 53px;
	left: 0;
	right: 0;
	z-index: 3;
	width: 100%;
}

.list-wrapper {
	margin-top: 65px;
}

.controls {
	margin-top: 16px;
	margin-bottom: 8px;
}
