<div class="list-wrapper" fxFlex fxLayoutAlign="center start" >
  <mat-spinner *ngIf="!collection"></mat-spinner>

  <div fxFlex="0 0 auto" fxLayout="column" *ngIf="collection" >
    <top-bar fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px"
             ></top-bar>
    <div class="controls" fxLayoutGap="8px">
      <button mat-button color="primary" (click)="createNewTemplate()">
        <mat-icon>add</mat-icon>
        Добавить шаблон
      </button>
      <button mat-button color="warn" (click)="compileAll()">
        <mat-icon>autorenew</mat-icon>
        Compile all
      </button>
    </div>
    <templates-list fxFlex [templates]="collection"></templates-list>

    <mat-paginator *ngIf="collection.length" fxFlex [length]="total"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginate($event)">
    </mat-paginator>
  </div>
</div>

