<div class="list-wrapper" fxFlex fxLayoutAlign="center start" >
  <mat-spinner *ngIf="!subjects"></mat-spinner>

  <div fxFlex="0 0 auto" fxLayout="column" *ngIf="subjects" >
    <!--<top-bar fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px"-->
    <!--&gt;</top-bar>-->

    <subjects-list fxFlex [subjects]="subjects"></subjects-list>

    <mat-paginator *ngIf="subjects.length" fxFlex [length]="total"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginate($event)">
    </mat-paginator>
  </div>
</div>

