<div class="list-wrapper" fxFlex fxLayoutAlign="center start" >
  <mat-spinner *ngIf="!collection"></mat-spinner>

  <div fxFlex="0 0 auto" fxLayout="column" *ngIf="collection" >
    <subjects-top-bar fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px"></subjects-top-bar>

    <subjects-list fxFlex [subjects]="collection"></subjects-list>

    <mat-paginator *ngIf="collection.length" fxFlex [length]="total"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="paginate($event)">
    </mat-paginator>
  </div>
</div>

